In [3]:
import datetime

dt=datetime.datetime.now()
print(dt)

2024-12-09 13:20:23.972396

In [17]:
from datetime import date

my_date=date(2006,7,2)

print(my_date)

2006-07-02

In [21]:
from datetime import date

today=date.today()

print("year :",today.year)
print("month :",today.month)
print("day :",today.day)

year : 2024
month : 12
day : 9

In [29]:
from datetime import datetime 

dt=datetime.now()
unix_timestamp=dt.timestamp()
print(unix_timestamp)

1733731585.829854

In [31]:
from datetime import datetime

date_time=datetime.fromtimestamp(1733731585.829854)
print(date_time)

2024-12-09 13:36:25.829854

In [41]:
today=date.today()
Str=date.isoformat(today)

print("String Representartion :",Str)
print(Str)
print(type)

String Representartion : 2024-12-09
2024-12-09
<class 'type'>

In [55]:
from datetime import time

my_time=time(13,21,55)

print("Entered time :",my_time)

my_time=time(hour=6)
print("\n Time with one argument :",my_time)

my_time=time(minute=12)
print("\n Time with one argument :",my_time)



my_time=time(second=55)
print("\n Time with one argument :",my_time)


my_time=time()
print("\n Time without argument",my_time)

Entered time : 13:21:55

 Time with one argument : 06:00:00

 Time with one argument : 00:12:00

 Time with one argument : 00:00:55

 Time without argument 00:00:00

In [73]:
from datetime import time

time=time(12,22,44,55)

print("Hour :",time.hour)
print("Minute :",time.minute)
print("Second :",time.second)
print("Microsecond :",time.microsecond)

Hour : 12
Minute : 22
Second : 44
Microsecond : 55

In [85]:
from datetime import datetime 

a=datetime(2022,12,3)

print(a)

a=datetime(2022,12,12,12,12,11,56778)

print(a)

2022-12-03 00:00:00
2022-12-12 12:12:11.056778

In [89]:
from datetime import datetime

a=datetime(2006,7,2,3,4,3)

print("year :",a.year)
print("Month :",a.month)
print("Day :",a.day)
print("Hour :",a.hour)
print("minute :",a.minute)
print("timestamp :",a.timestamp())

year : 2006
Month : 7
Day : 2
Hour : 3
minute : 4
timestamp : 1151789643.0

In [99]:
from datetime import datetime,timedelta

date1=datetime(2012,7,2)
date2=datetime(2020,12,5)

diff=date2-date1
print("Difference :",diff)

date1+=timedelta(days=4)
print("Days 1 after 4 days :",date1)

date2-=timedelta (days=15)
print("Days 1 before 15 days :",date2)

Difference : 3078 days, 0:00:00
Days 1 after 4 days : 2012-07-06 00:00:00
Days 1 before 15 days : 2020-11-20 00:00:00

In [101]:
from datetime import timedelta

Min=timedelta.min
print("Minimum value of Timedelta :",Min)

Max=timedelta.max
print("Maximum value of Timedelta :",Max)

Minimum value of Timedelta : -999999999 days, 0:00:00
Maximum value of Timedelta : 999999999 days, 23:59:59.999999

In [105]:
import calendar

yy=2006
mm=2

print(calendar.month(yy,mm))

   February 2006
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28

In [107]:
import calendar

print("The calendar of year 2022 is")
print (calendar.calendar(2006))

The calendar of year 2022 is
                                  2006

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [113]:
import calendar 

text_cal=calendar.HTMLCalendar(firstweekday=0)

yy=2006
mm=2

print(text_cal.formatmonth(yy,mm))

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">February 2006</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td></tr>
<tr><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td></tr>
<tr><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td></tr>
<tr><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td></tr>
<tr><td class="mon">27</td><td class="tue">28</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

In [1]:
list1=[1,2,3,4,5]
list2=list1

list1,list2

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [3]:
list2[1]=100

print(id(list1))
print(id(list1))

1986299300672
1986299300672

In [5]:
list1=[1,2,3,4,5,6]

list2=list1.copy()

list1,list2

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6])

In [9]:
list2[2]=100

print(id(list1))
print(id(list1))

1986299299648
1986299299648

In [14]:
print(list2)

[1, 2, 100, 4, 5, 6]

In [28]:
old_list=[1,2,3],[4,5,6,7],[8,9,"abc"]
new_list=[1,2,3,4,5],[10,9,8,7]


print("Old list :",old_list)
print("ID for Old list :",id(old_list))

print("New list :",new_list)
print("ID for New list :",id(new_list))

Old list : ([1, 2, 3], [4, 5, 6, 7], [8, 9, 'abc'])
ID for Old list : 1986353372096
New list : ([1, 2, 3, 4, 5], [10, 9, 8, 7])
ID for New list : 1986353497408

In [20]:
list1=[1,2,3,4,5,6]
list2=list1.copy()

list1,list2

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6])

In [24]:
print(id(list1))
print(id(list2))

1986299536960
1986299538944

In [30]:
import copy

old_list=[1,2,3,4,5,6],["ab","bc","ca",67,77]

new_list=copy.deepcopy(old_list) #diffrent memory location

print("Id of Old list :",id(old_list))
print("Id of New list :",id(new_list))

Id of Old list : 1986353498112
Id of New list : 1986353504512

In [40]:
import copy

old_list=[1,2,3,4,5,6],["ab","bc","ca",67,77],[11,12,13,14]
new_list=copy.copy(old_list)

new_list[2][2]=2300

print("Old list :",old_list)
print("ID of Old list :",id(old_list))

print("New list :",new_list)
print("ID of New list :",id(new_list))

Old list : ([1, 2, 3, 4, 5, 6], ['ab', 'bc', 'ca', 67, 77], [11, 12, 2300, 14])
ID of Old list : 1986353371264
New list : ([1, 2, 3, 4, 5, 6], ['ab', 'bc', 'ca', 67, 77], [11, 12, 2300, 14])
ID of New list : 1986353371264

In [44]:
import re

pattern='a...s$'
test_string='abysk'

result=re.match(pattern,test_string)

if result:
    print("Search Successful")
else:
    print("Search unsuccessful")

Search unsuccessful

In [54]:
import re

string='Hello 212 11 223 234 hi 4565 now'
pattern='\d+'

result=re.findall(pattern,string)
print(result)

['212', '11', '223', '234', '4565']

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Admin\AppData\Local\Temp\ipykernel_6708\1671278569.py:4: SyntaxWarning: invalid escape sequence '\d'
  pattern='\d+'

In [56]:
import re

string='BCA MCA HACKER 21 sss . , . ,'
pattern='\d+'

result=re.split(pattern,string)
print(result)

['BCA MCA HACKER ', ' sss . , . ,']

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Admin\AppData\Local\Temp\ipykernel_6708\2705561733.py:4: SyntaxWarning: invalid escape sequence '\d'
  pattern='\d+'

In [58]:
import re

string='ab cd ef gh 123 11 12 13 ijk lm no pq rstuv 34 wxyz'

pattern='\s'

replace=''

new_string=re.sub(pattern,replace,string)
print(new_string)

abcdefgh123111213ijklmnopqrstuv34wxyz

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Admin\AppData\Local\Temp\ipykernel_6708\1430422276.py:5: SyntaxWarning: invalid escape sequence '\s'
  pattern='\s'

In [60]:
 import re

string='ab cd ef gh 123 11 12 13 ijk lm no pq rstuv 34 wxyz'

pattern='\s+'

replace=''

new_string=re.subn(pattern,replace,string)
print(new_string)

('abcdefgh123111213ijklmnopqrstuv34wxyz', 14)

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Admin\AppData\Local\Temp\ipykernel_6708\1989581933.py:5: SyntaxWarning: invalid escape sequence '\s'
  pattern='\s+'

In [66]:
import re

string="Python is programming language"

match=re.search("\Aprogramming",string)

if match:
    print("Pattern found inside the string")
else:
    print("Pattern not found inside the string")

Pattern not found inside the string

<>:5: SyntaxWarning: invalid escape sequence '\A'
<>:5: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Admin\AppData\Local\Temp\ipykernel_6708\2287085395.py:5: SyntaxWarning: invalid escape sequence '\A'
  match=re.search("\Aprogramming",string)

In [88]:
import re 

number="34234 234234 7016 2254 0312"

pattern='(\d{4}) (\d{3})''(\d{3}) (\d{2})'

match=re.search(pattern,number)

if match:
    print(match.group())
else:
    print("Pattern not found")

4234 234234 70

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Admin\AppData\Local\Temp\ipykernel_6708\3874307723.py:5: SyntaxWarning: invalid escape sequence '\d'
  pattern='(\d{4}) (\d{3})''(\d{3}) (\d{2})'
C:\Users\Admin\AppData\Local\Temp\ipykernel_6708\3874307723.py:5: SyntaxWarning: invalid escape sequence '\d'
  pattern='(\d{4}) (\d{3})''(\d{3}) (\d{2})'

In [96]:
if re.search("inform","We need to inform him letest informatiion"):
    print("This is information")

This is innformation

In [106]:
import re
allinformation=re.findall("inform","We need to inform him letest informatiion")
for i in allinformation:
    print(i)

inform
inform