In [5]:
a=["Apple","Banana","Cherry","chikoo","Watermelon"]

for i in a:
    print(a[0])

Apple
Apple
Apple
Apple
Apple

In [9]:
for i in "Apple":
    print(i)

A
p
p
l
e

In [33]:
c=["Apple","Banana","Cherry"]

for i in c:
 if i!="Cherry":
     break
 print(i)

In [35]:
c=["Apple","Banana","Cherry"]


for i in c:
 if i=="Cherry":
     break
 print(i)

Apple
Banana

In [41]:
d=["Apple","Banana","Cherry"]

for i in d:
    if i=="Banana":
        continue
    print(i)

Apple
Cherry

In [45]:
for i in range(0,100,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [51]:
a="Basic Python"

for i in a[::-1]:
    print(i)

n
o
h
t
y
P

c
i
s
a
B

In [55]:
list1=[1,2,3,4,56,7,8,9,10]

for i in list1[::-1]:
    print(i)

10
9
8
7
56
4
3
2
1

In [57]:
disc={1:"Has",2:"nen",3:"shk",4:"shaikh",5:"BCA",6:"std",}
disc.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [59]:
disc.values()

dict_values(['Has', 'nen', 'shk', 'shaikh', 'BCA', 'std'])

In [63]:
for i in disc.keys():
    print(i)

1
2
3
4
5
6

In [67]:
for i in disc.values():
    print(i)

Has
nen
shk
shaikh
BCA
std

In [79]:
test=["Small","Big","Tasty"]
fruit=["Apple","Banana","Cherry"]

for i in test:
    for j in fruit:
        print(i,j)

Small Apple
Small Banana
Small Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

In [91]:
n=int(input("Enter the value:"))
m=int(input("Enter the value:"))

for i in range(n):
    for j in range(m):
        print("*",end=" ")
    print("\n")

Enter the value: 2
Enter the value: 5

* * * * *

* * * * *

In [99]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print("\n")

Enter the value : 6

*

* *

* * *

* * * *

* * * * *

* * * * * *

In [106]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print("\n")

Enter the value : 5

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [126]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print("\n")

Enter the value : 5

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [134]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(i+1):
        print(chr(i+65),end=" ")
    print("\n")

Enter the value : 5

A

B B

C C C

D D D D

E E E E E

In [136]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(i+1):
        print(chr(j+65),end=" ")
    print("\n")

Enter the value : 5

A

A B

A B C

A B C D

A B C D E

In [138]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(-n,-i):
        print("*",end=" ")
    print("\n")

Enter the value : 5

* * * * *

* * * *

* * *

* *

*

In [1]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(-n,-i):
        print(" ",end=" ")
    print("*",end=" ")

Enter the value : 5

          *         *       *     *   *

In [25]:
n=int(input("Enter the Number :"))

for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

Enter the Number : 5

* * * * *
*       *
*       *
*       *
* * * * *

In [19]:
n=int(input("Enter the Number :"))

for i in range(n):
    for j in range(n):
        if i==0 or i==n or j==0 or j==n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

Enter the Number : 6

* * * * * *
*
*
*
*
*

In [39]:
a=str(input("Enter the Alphabate :"))

for row in range(5):
    for col in range(5):
        if(row in(0,4)):
            print("*",end=" ")
        elif(row in(1,2,3,4)) and (col in(0,4)):
            print("*",end=" ")
        elif(row in(0,2)) and (col in(0,2)):
            print(a,end=" ")
        else:
            print(" ",end=" ")
    print()

Enter the Alphabate : H

* * * * *
*       *
*   H   *
*       *
* * * * *

In [57]:
for row in range(5):
    for col in range(5):
        if (col==0) or (col==4 and (row!=0 and row!=4))or((row==0 or row==4) and (col>0 and col<3)):
            print("*",end=" ")
        else:
            print(end=" ")
    print()

* * *
*    *
*    *
*    *
* * *

In [59]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(-n,-i):
        print("*",end=" ")
    print("\n")

Enter the value : 6

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [75]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print(" ")
for i in range(n):
    for j in range(-n,-i):
        print("*",end=" ")
    print(" ")

Enter the value : 5

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [77]:
n=int(input("Enter the value :"))

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print(" ")
for i in range(n):
    for j in range(-n,-i):
        print("*",end=" ")
    print(" ")

Enter the value : 5

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [95]:
row=int(input("Entrer the value :"))

for i in range(row):
    print(" "*(row-i)+" *"*(i+1))
for j in range(row-1):
    print(" "*(j+2)+" *"*(row -1-j))

Entrer the value : 7

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [83]:
row=int(input("Entrer the value :"))

for i in range(row):
    print(" "*(row-i)+"*"*(i+1))
for j in range(row):
    print(" "*(j+2)+"*"*(row-1-j))

Entrer the value : 5

     *
    **
   ***
  ****
 *****
  ****
   ***
    **
     *

In [97]:
n=int(input("Enter the value :"))

for i in range(n+1):
    for j in range(n+1):
        if(i==j) or (j==1) or (i==n):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

Enter the value : 5

* *
  *
  * *
  *   *
  *     *
* * * * * *

In [99]:
n=int(input("Enter the value :"))

for i in range(1,n+1):
    for j in range(1,n+1):
        if(i==j) or (j==1) or (i==n):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

Enter the value : 5

*
* *
*   *
*     *
* * * * *

In [101]:
row=int(input("Entrer the value :"))

for i in range(row):
    print(" "*(row-i)+" *"*(i+1))
for j in range(row-1):
    print(" "*(j+2)+" *"*(row -1-j))

Entrer the value : 5

      *
     * *
    * * *
   * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [112]:
n=int(input("Enter the value :"))

for i in range(n - 1):
    for j in range(i + 1):
        print(" ",end="")
    print("*",end="")
    for j in range(2*(n-i-2)):
        print(" ",end="")
    print("*")

Enter the value : 10

 *                *
  *              *
   *            *
    *          *
     *        *
      *      *
       *    *
        *  *
         **

In [122]:
n=int(input("enter the value :"))

for i in range(1,11):
    print(f"{n} X {i} ={n*i}")

enter the value : 5

5 X 1 =5
5 X 2 =10
5 X 3 =15
5 X 4 =20
5 X 5 =25
5 X 6 =30
5 X 7 =35
5 X 8 =40
5 X 9 =45
5 X 10 =50